{"jsonrpc":"2.0","id":%d,"result":{"id":"03d1c07e00297eae99263dcc01850ec7339bb4c87a1a3e841a195cbfdcdec7a219","alias":"cln1","color":"ffffff","num_peers":0,"num_pending_channels":0,"num_active_channels":0,"num_inactive_channels":0,"address":[{"type":"ipv6","address":"2600:1f18:6416:6410:271d:a80:478c:e625","port":9735}],"binding":[{"type":"ipv6","address":"::","port":9735},{"type":"ipv4","address":"0.0.0.0","port":9735}],"version":"v0.12.0","blockheight":763123,"network":"bitcoin","msatoshi_fees_collected":0,"fees_collected_msat":"0msat","lightning-dir":"/home/ubuntu/.lightning/bitcoin","our_features":{"init":"08a000080269a2","node":"88a000080269a2","channel":"","invoice":"02000000024100"}}}
