{"jsonrpc":"2.0","id":%d,"result":
{
   "forwards": [
      {
         "in_channel": "117x1x0",
         "in_htlc_id": 0,
         "out_channel": "123x1x1",
         "out_htlc_id": 0,
         "in_msatoshi": 161003,
         "in_msat": "161003msat",
         "out_msatoshi": 161001,
         "out_msat": "161001msat",
         "fee": 2,
         "fee_msat": "2msat",
         "status": "settled",
         "style": "tlv",
         "received_time": 1674470615.010,
         "resolved_time": 1674470615.263
      },
      {
         "in_channel": "117x1x0",
         "in_htlc_id": 1,
         "out_channel": "123x1x1",
         "out_htlc_id": 1,
         "in_msatoshi": 228004,
         "in_msat": "228004msat",
         "out_msatoshi": 228001,
         "out_msat": "228001msat",
         "fee": 3,
         "fee_msat": "3msat",
         "status": "settled",
         "style": "tlv",
         "received_time": 1674470615.327,
         "resolved_time": 1674470615.600
      },
      {
         "in_channel": "117x1x0",
         "in_htlc_id": 2,
         "out_channel": "123x1x1",
         "out_htlc_id": 2,
         "in_msatoshi": 303005,
         "in_msat": "303005msat",
         "out_msatoshi": 303001,
         "out_msat": "303001msat",
         "fee": 4,
         "fee_msat": "4msat",
         "status": "settled",
         "style": "tlv",
         "received_time": 1674470615.646,
         "resolved_time": 1674470615.946
      },
      {
         "in_channel": "117x1x0",
         "in_htlc_id": 3,
         "out_channel": "123x1x1",
         "out_htlc_id": 3,
         "in_msatoshi": 199003,
         "in_msat": "199003msat",
         "out_msatoshi": 199001,
         "out_msat": "199001msat",
         "fee": 2,
         "fee_msat": "2msat",
         "status": "settled",
         "style": "tlv",
         "received_time": 1674470616.022,
         "resolved_time": 1674470616.293
      },
      {
         "in_channel": "117x1x0",
         "in_htlc_id": 4,
         "out_channel": "123x1x1",
         "out_htlc_id": 4,
         "in_msatoshi": 207004,
         "in_msat": "207004msat",
         "out_msatoshi": 207001,
         "out_msat": "207001msat",
         "fee": 3,
         "fee_msat": "3msat",
         "status": "settled",
         "style": "tlv",
         "received_time": 1674470616.369,
         "resolved_time": 1674470616.646
      },
      {
         "in_channel": "117x1x0",
         "in_htlc_id": 5,
         "out_channel": "123x1x1",
         "out_htlc_id": 5,
         "in_msatoshi": 403007,
         "in_msat": "403007msat",
         "out_msatoshi": 403002,
         "out_msat": "403002msat",
         "fee": 5,
         "fee_msat": "5msat",
         "status": "settled",
         "style": "tlv",
         "received_time": 1674470616.718,
         "resolved_time": 1674470617.014
      },
      {
         "in_channel": "117x1x0",
         "in_htlc_id": 6,
         "out_channel": "123x1x1",
         "out_htlc_id": 6,
         "in_msatoshi": 450007,
         "in_msat": "450007msat",
         "out_msatoshi": 450002,
         "out_msat": "450002msat",
         "fee": 5,
         "fee_msat": "5msat",
         "status": "settled",
         "style": "tlv",
         "received_time": 1674470617.087,
         "resolved_time": 1674470617.349
      },
      {
         "in_channel": "117x1x0",
         "in_htlc_id": 7,
         "out_channel": "123x1x1",
         "out_htlc_id": 7,
         "in_msatoshi": 100003,
         "in_msat": "100003msat",
         "out_msatoshi": 100001,
         "out_msat": "100001msat",
         "fee": 2,
         "fee_msat": "2msat",
         "status": "settled",
         "style": "tlv",
         "received_time": 1674470617.422,
         "resolved_time": 1674470617.698
      },
      {
         "in_channel": "117x1x0",
         "in_htlc_id": 8,
         "out_channel": "123x1x1",
         "out_htlc_id": 8,
         "in_msatoshi": 124003,
         "in_msat": "124003msat",
         "out_msatoshi": 124001,
         "out_msat": "124001msat",
         "fee": 2,
         "fee_msat": "2msat",
         "status": "settled",
         "style": "tlv",
         "received_time": 1674470617.773,
         "resolved_time": 1674470618.074
      },
      {
         "in_channel": "117x1x0",
         "in_htlc_id": 9,
         "out_channel": "123x1x1",
         "out_htlc_id": 9,
         "in_msatoshi": 158003,
         "in_msat": "158003msat",
         "out_msatoshi": 158001,
         "out_msat": "158001msat",
         "fee": 2,
         "fee_msat": "2msat",
         "status": "settled",
         "style": "tlv",
         "received_time": 1674470618.147,
         "resolved_time": 1674470618.412
      }
   ]
}
}
